extends layout.pug

block content
    section#content
        form(action="/hello", method="post")
            label Please enter Your name:
                input(type="text" name="username")
                button(type="submit") Submit