extends app

block intro
    form.namecard-form(action="/hello", method="POST")
        label.namecard-prompt Please enter your name:
            input.namecard-name(type='text', name='username')
        button.namecard-submit(type='submit') Submit